{% extends "admin/base_site.html" %}
{% block content %}
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <p id="errornote" class="errornote hidden"></p>
        {% csrf_token %}
        <div class="form-row">
            <strong>Título:</strong> {{ video.title }}
            <br />
            <strong>Status do vídeo:</strong>
            {{ video.get_video_status_display }}
        </div>
        <div class="form-row">
            <input type="file" name="video" accept="video/mp4" />
        </div>
    </form>
{% endblock %}
