[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.1.4"
pillow = "11.0.0"
psycopg2-binary = "2.9.10"
django-environ = "0.11.2"

[dev-packages]
django-types = "*"
django-stubs = "*"

[requires]
python_version = "3.12"
